<app-header></app-header>
<main>
    <div class="row m-0 p-5">
        <!-- <router-outlet class="col-9 px-0 bg-dark"></router-outlet> -->
        <app-product-list class="col-9 px-0 bg-light"></app-product-list>
        <app-sidebar class="col-3 pr-0"></app-sidebar>
    </div>
    <div class="col-9">
        <div class="row m-0">
            <app-product class="col-3"></app-product>
            <app-product class="col-3"></app-product>
            <app-product class="col-3"></app-product>
            <app-product class="col-3"></app-product>
        </div>
    </div>
</main>
<app-footer></app-footer>