.credit-card:hover, .selected-credit-card{
        background-color: #292b2c;
        color: white;
        cursor: pointer;
}

.average-credit-card{
        color: #292b2c;
        background-color: white;
}

.cursor-pointer{
        cursor: pointer;
}
