<div class="row m-0 flex-xl-row-reverse">
    <div class="col-12 col-xl-3 px-0 pl-xl-4">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-xl-9 px-0 pr-xl-4">
        <app-search></app-search>
        <p *ngIf="products.length&lt;1" class="mx-auto text-center h2 py-5 my-5">Parece que ningún producto coincide con
            lo que buscas...
        </p>
        <section *ngIf="products.length&gt;0" class="card-deck m-0 px-4 p-sm-2 bg-light">
            <app-product *ngFor="let product of products" [product]="product" class="col-12 col-sm-6 col-md-4 col-xl-3 p-2"></app-product>
        </section>
    </div>
</div>