<section *ngIf="user">
    <h2 class="text-center my-3">Mi perfil</h2>
    <div class="row m-0 px-1 align-items-strench">
        <div class="col-6 text-center p-2 d-flex justify-content-strench">
            <div class="border border-dark w-100 p-3 d-flex flex-column justify-content-strench">
                <h3 class="my-2">Mis datos personales</h3>
                <p class="mb-0">{{user.userName}} {{user.userSurname}}</p>
                <p>{{user.userEmail}}</p>
                <div class="col-2 px-0 mx-auto mt-auto" data-toggle="collapse" data-target="#collapsePersonal">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-fill svg-button"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </div>
                <div class="collapse" id="collapsePersonal">
                    <div class="card card-body text-left">
                        <div class="form-group">
                            <label for="personalEmail" class="mb-1">Nuevo email</label>
                            <input type="text" class="form-control" id="personalEmail">
                        </div>
                        <div class="row m-0">
                            <button class="btn btn-dark ml-auto">Cambiar email</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-center p-2 d-flex justify-content-strench">
            <div class="border border-dark w-100 p-3 d-flex flex-column justify-content-strench">
                <h3 class="my-2">Mi dirección</h3>
                <p class="mb-0">{{user.userAddress.street}}, nº{{user.userAddress.number}}, Portal
                    {{user.userAddress.entrance}}, {{user.userAddress.floor}}º {{user.userAddress.door}}</p>
                <p>{{user.userAddress.cp}}, {{user.userAddress.city}}, {{user.userAddress.province}}</p>
                <div class="col-2 px-0 mx-auto mt-auto" data-toggle="collapse" data-target="#collapseAddress">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-fill svg-button"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </div>
                <div class="collapse" id="collapseAddress">
                    <div class="card card-body text-left">
                        <div class="form-group">
                            <label for="address" class="mb-1">Dirección</label>
                            <input type="text" class="form-control" id="address">
                        </div>
                        <div class="row m-0">
                            <div class="col-2 px-0 pr-1">
                                <div class="form-group">
                                    <label for="postalCode" class="mb-1">CP</label>
                                    <input type="text" class="form-control" id="postalCode">
                                </div>
                            </div>
                            <div class="col-6 px-0 pl-1 pr-1">
                                <div class="form-group">
                                    <label for="city" class="mb-1">Ciudad</label>
                                    <input type="text" class="form-control" id="city">
                                </div>
                            </div>
                            <div class="col-4 px-0 pl-1">
                                <div class="form-group">
                                    <label for="province" class="mb-1">Provincia</label>
                                    <input type="text" class="form-control" id="province">
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <button class="btn btn-dark ml-auto">Cambiar dirección</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-center p-2 d-flex justify-content-strench">
            <div class="border border-dark w-100 p-3 d-flex flex-column justify-content-strench">
                <h3 class="my-2">Mis tarjetas</h3>
                <div *ngFor="let card of user.userCreditCard" class="card flex-row my-2 p-3">
                    <div class="col-10 px-0 d-flex flex-column justify-content-center align-items-start">
                        <p class="mb-0 font-weight-bold">{{card.userCreditCardHolder}}</p>
                        <p class="mb-0">{{card.userCreditCardNumber}}</p>
                        <p class="mb-0 text-muted">{{card.userCreditCardDate}}</p>
                    </div>
                    <div class="col-2 px-0 d-flex align-items-center justify-content-center">
                        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="#df4759"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                        </svg>
                    </div>
                </div>
                <div class="col-2 px-0 mx-auto mt-auto" data-toggle="collapse" data-target="#collapsePayment">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-fill svg-button"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </div>
                <div class="collapse" id="collapsePayment">
                    <div class="card card-body text-left">
                        <div class="form-group">
                            <label for="creditCardHolder" class="mb-1">Titular</label>
                            <input type="text" class="form-control" id="creditCardHolder">
                        </div>
                        <div class="row m-0">
                            <div class="col-8 px-0 pr-1">
                                <div class="form-group">
                                    <label for="creditCardNumber" class="mb-1">Número</label>
                                    <input type="text" class="form-control" id="creditCardNumber">
                                </div>
                            </div>
                            <div class="col-4 px-0 pl-1">
                                <div class="form-group">
                                    <label for="creditCardDate" class="mb-1">Fecha caducidad</label>
                                    <input type="text" class="form-control" id="creditCardDate">
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <button class="btn btn-dark ml-auto">Guardar tarjeta</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-center p-2 d-flex justify-content-strench">
            <div class="border border-dark w-100 p-3 d-flex flex-column justify-content-strench">
                <h3 class="my-2">Mi contraseña</h3>
                <p class="h3">{{user.userPassword}}</p>
                <div class="col-2 px-0 mx-auto mt-auto svg-button" data-toggle="collapse"
                    data-target="#collapsePassword">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </div>
                <div class="collapse" id="collapsePassword">
                    <div class="card card-body text-left">
                        <div class="form-group">
                            <label for="currentPassword" class="mb-1">Contraseña actual</label>
                            <input type="password" class="form-control" id="currentPassword">
                        </div>
                        <div class="row m-0">
                            <div class="col-6 px-0 pr-1">
                                <div class="form-group">
                                    <label for="newPassword" class="mb-1">Nueva contraseña</label>
                                    <input type="password" class="form-control" id="newPassword">
                                </div>
                            </div>
                            <div class="col-6 px-0 pl-1">
                                <div class="form-group">
                                    <label for="confirmedPassword" class="mb-1">Confirma contraseña</label>
                                    <input type="password" class="form-control" id="confirmedPassword">
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <button class="btn btn-dark ml-auto">Cambiar contraseña</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>