<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-dark text-white justify-content-center px-5 py-3">
            <h4 class="mb-0">Tu pedido</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
            </button>
        </div>
        <div class="modal-body px-5 py-3 text-center">
            <p *ngIf="products.length < 1" class="h3 my-3 text-center">Aún no tienes ningún artículo en el carro.</p>
            <div class="card flex-row m-0 my-2 p-3" *ngFor="let product of products; index as i">
                <div class="col-10 px-0 d-flex flex-column justify-content-center align-items-start">
                    <p class="mb-0 font-weight-bold h4">{{product.productName}}</p>
                    <p class="mb-3">{{product.productResume}}</p>
                    <p class="mb-0 h5">{{product.productPrice}}€</p>
                </div>
                <div class="col-2 px-0 d-flex align-items-center justify-content-center">
                    <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-trash-fill ml-1 cursor-pointer" fill="#df4759"
                        xmlns="http://www.w3.org/2000/svg" (click)="removeCartItem(i)">
                        <path fill-rule="evenodd"
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-dark px-5 py-3">
            <button type="button" class="btn btn-success btn-block py-2">Continuar</button>
        </div>
    </div>
</div>