<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body p-5 text-center">
            <h2 class="mb-5">¡Bienvenido!</h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group mt-5">
                    <label for="email" class="mb-1 h5">Correo electrónico</label>
                    <input formControlName="email" type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password" class="mb-1 h5">Contraseña</label>
                    <input formControlName="password" type="password" class="form-control" id="password" required>
                    <small class="form-text text-danger">{{errorMessage}}</small>
                </div>
                <div class="row m-0 mt-5 justify-content-center">
                    <button type="button" class="col-4 btn btn-outline-danger mr-2" data-dismiss="modal"
                        id="closeModal">Cerrar</button>
                    <button type="submit" [disabled]="!loginForm.valid" class="col-4 btn btn-dark ml-2">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>