<div class="row m-0 py-2 border-bottom border-dark cursor-pointer" (click)="navigateToProduct()">
    <div class="col-4 px-0">
        <img class="img-fluid" [src]="product.productImage" [alt]="product.name">
    </div>
    <div class="col-8 px-0 d-flex flex-column justify-content-center align-items-center">
        <h5 class="mb-0">{{product.productName}}</h5>
        <h6 class="mb-0">{{product.productResume}}</h6>
        <p class="mb-0">
            <span class="text-danger font-weight-bold mr-2"><del>{{product.productOldPrice}}</del></span>|
            <span class="text-success ml-2 font-weight-bold">{{product.productPrice}}</span>
        </p>
    </div>
</div>