.cursor-pointer{
    cursor: pointer;
}

.banner{
    background: #C6FFDD; 
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
}