<div class="row m-0 p-3 mb-5 bg-light">
    <div class="col-12 col-xl-4 px-0 pr-xl-1">
        <input class="form-control text-center border-dark" type="search" placeholder="¿Qué estás buscando?"
            aria-label="Search" [(ngModel)]="userFilter">
    </div>
    <div class="col-6 col-md-4 col-xl-3 px-0 pr-2 py-3 pb-md-0 pt-xl-0 px-xl-1">
        <select class="pl-3 custom-select text-center border-dark" [(ngModel)]="brandFilter">
            <option value='noBrandFilter' selected>¿De qué marca?</option>
            <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
        </select>
    </div>
    <div class="col-6 col-md-4 col-xl-3 px-0 pl-2 pr-md-2 py-3 pb-md-0 pt-xl-0 px-xl-1">
        <select class="pl-3 custom-select border-dark" [(ngModel)]="priceFilter">
            <option class="text-center" value='noPriceFilter' selected>¿De qué precio?</option>
            <option *ngFor="let priceInterval of prices;index as i" [value]="i">
                <span *ngIf="priceInterval.length&gt;1">De {{priceInterval[0]}} a {{priceInterval[1]}}€</span>
                <span *ngIf="priceInterval.length&lt;2">Más de {{priceInterval[0]}}€</span>
            </option>
        </select>
    </div>
    <div class="col-6 col-md-4 col-xl-2 px-0 pl-md-2 pt-md-3 pt-xl-0 pl-xl-1 mx-auto">
        <button type="button" class="btn btn-outline-dark btn-block" (click)="filterProducts()"><span class="font-weight-bold">Buscar</span></button>
    </div>
</div>