<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body p-5">
            <h2 class="mb-5 text-center">¡Bienvenido!</h2>
            <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <div class="form-group">
                <label for="registrationName" class="mb-1 h5">Nombre</label>
                <input formControlName="name" type="text" class="form-control" id="registrationName" required>
            </div>
            <div class="form-group">
                <label for="registrationSurname" class="mb-1 h5">Apellidos</label>
                <input formControlName="surname" type="text" class="form-control" id="registrationSurname" required>
            </div>
            <div class="form-group">
                <label for="registrationEmail" class="mb-1 h5">Correo electrónico</label>
                <input formControlName="email" type="email" class="form-control" id="registrationEmail" required>
            </div>
            <div class="form-group">
                <label for="registrationPassword" class="mb-1 h5">Contraseña</label>
                <input formControlName="password" type="password" class="form-control" id="registrationPassword" required>
            </div>
            <div class="form-group">
                <label for="confirmedRegistrationPassword" class="mb-1 h5">Confirma la contraseña</label>
                <input formControlName="confirmedPassword" type="password" class="form-control" id="confirmedRegistrationPassword" required>
            </div>
            <p *ngIf="errorMessage && errorMessage.length>0" class="mb-0 text-danger">{{errorMessage}}</p>
            <div class="row m-0 mt-5 justify-content-center">
                <button type="button" class="col-4 btn btn-outline-danger mr-2" data-dismiss="modal" id="closeRegistrationModal">Cerrar</button>
                <button type="submit" [disabled]="!registrationForm.valid" class="col-4 btn btn-dark ml-2">Registrarse</button>
            </div>
        </form>
        </div>
    </div>
</div>
