<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body p-5 text-center">
            <h2 class="mb-5">¡Bienvenido!</h2>
            <div class="form-group mt-5">
                <label for="email" class="mb-1 h5">Correo electrónico</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="registrationPassword" class="mb-1 h5">Contraseña</label>
                <input type="password" class="form-control" id="registrationPassword">
            </div>
            <div class="form-group">
                <label for="confirmedRegistrationPassword" class="mb-1 h5">Confirma la contraseña</label>
                <input type="password" class="form-control" id="confirmedRegistrationPassword">
            </div>
            <div class="row m-0 mt-5 justify-content-center">
                <button type="button" class="col-4 btn btn-outline-danger mr-2" data-dismiss="modal">Cerrar</button>
                <button type="button" class="col-4 btn btn-dark ml-2">Registrarse</button>
            </div>
        </div>
    </div>
</div>
