<footer class="container-fluid bg-dark position-absolute pt-4 pb-3">
    <div class="container">
        <div class="row m-0 text-center">
            <h4 class="text-white mb-4 mx-auto">Tienda<span class="ml-1 pb-1 px-1 bg-danger text-dark">Angular</span></h4>
        </div>
        <div class="row m-0 text-light d-flex justify-content-between">
            <p class="footer__links">Quienes somos</p>
            <p class="footer__links">Como comprar</p>
            <p class="footer__links">Aviso de privacidad</p>
            <p class="footer__links">Política de cookies</p>
            <p>2020, Tienda Angular. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
