<footer class="container-fluid bg-dark pt-4 pb-3">
    <div class="container">
        <div class="row m-0 text-center">
            <a class="text-white mb-4 mx-auto h4 text-decoration-none" routerLink="/products">Tienda
                <span class="ml-1 pb-1 px-1 bg-danger text-dark">Angular</span>
            </a>
        </div>
        <div class="row m-0 text-light d-flex justify-content-between">
            <p class="footer__links" routerLink="/other">Quienes somos</p>
            <p class="footer__links" routerLink="/other">Como comprar</p>
            <p class="footer__links" routerLink="/other">Aviso de privacidad</p>
            <p class="footer__links" routerLink="/other">Política de cookies</p>
            <p>2020, Tienda Angular. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>