<section class="col-12 py-3 px-1 bg-light">
    <h2 class="text-center mb-5">Mi historial de compras</h2>
    <h4 *ngIf="!purchases" class="text-center">Aún no has realizado ninguna compra.</h4>
    <div *ngIf="purchases" class="row m-0">
        <div class="col-12 col-md-6 px-2" *ngFor="let purchase of purchases;index as i">
            <div class="card p-3 mb-3">
                <div class="row m-0 align-items-center text-center cursor-pointer">
                    <div class="col-6 col-xl-3 px-0">
                        <p class="">
                            <span class="d-block text-muted small">Fecha de compra</span>
                            <span class="d-block font-weight-bold">{{purchase.purchaseDate}}</span>
                        </p>
                    </div>
                    <div class="col-6 col-xl-3 px-0">
                        <p class="">
                            <span class="d-block text-muted small">Artículos</span>
                            <span class="d-block font-weight-bold">{{purchase.purchaseProducts.length}}</span>
                        </p>
                    </div>
                    <div class="col-6 col-xl-3 px-0">
                        <p class="">
                            <span class="d-block text-muted small">Precio total</span>
                            <span class="d-block font-weight-bold">{{purchase.purchasePayment}}€</span>
                        </p>
                    </div>
                    <div class="col-6 col-xl-3 px-0">
                        <p class="h5"><span [ngClass]="{
                                'badge-info': purchase.purchaseState==='Entregado',
                                'badge-success':purchase.purchaseState==='Enviado',
                                'badge-warning':purchase.purchaseState=='Procesado' }"
                                class="badge font-weight-bold p-2">{{purchase.purchaseState}}</span></p>
                    </div>
                </div>
                <div *ngFor="let product of purchase.purchaseProducts"
                    class="row m-0 align-items-center border-top border-dark py-2">
                    <div class="d-none d-sm-block col-sm-2 px-0">
                        <img [src]="product.productImage" [alt]="product.productName" class="img-fluid">
                    </div>
                    <div class="col-12 col-sm-10 px-0 pl-3">
                        <div class="row m-0">
                            <div class="col-8 px-0 d-flex flex-column justify-content-center">
                                <p class="h4">{{product.productName}}</p>
                                <p class="mb-0">{{product.productResume}}</p>
                            </div>
                            <div class="col-4 px-0 d-flex justify-content-end align-items-center">
                                <p class="mb-0 h3">{{product.productPrice}}€</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 text-center border-top border-dark pt-2 justify-content-around">
                    <div class="col-4 px-0">
                        <p class="mb-0">
                            <span class="d-block text-muted small">Envío
                                {{purchase.purchaseShipping.purchaseShippingName}}</span>
                            <span
                                class="d-block font-weight-bold">{{purchase.purchaseShipping.purchaseShippingPayment}}€</span>
                        </p>
                    </div>
                    <div class="col-4 px-0">
                        <p class="mb-0">
                            <span class="d-block text-muted small">IVA(21%)</span>
                            <span
                                class="d-block font-weight-bold">{{purchase.purchasePayment*0.21 | number:'.0-2'}}€</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>